[Desktop Entry]
Encoding=UTF-8
Name=Transmission Magnet Opner
Exec=transmission-xdg %U
Type=Application
Terminal=false
MimeType=x-scheme-handler/magnet;
NoDisplay=true
