[Desktop Entry]
Encoding=UTF-8
Name=Images to PDF
Exec=pyimg2pdf %F
Comment=Convert images to a PDF file
GenericName=Images to PDF
Icon=image-x-generic-symbolic
Categories=Utility
Type=Application
Terminal=false
StartupNotify=false
Path=%d